<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="clearfix">
      <h1>My board</h1>
      <nav class="logins">
        <% if user_signed_in? %>
          hello 
            <%= link_to edit_user_registration_path do %>
              <span><%= current_user.name %></span>
              <%= image_tag user_image(current_user, 30), class: 'user_image' %>
            <% end %>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <button><%= fa_icon 'sign-out' %><span>logout</span></button>
            <% end %>
        <% else %>
          <%= link_to new_user_registration_path do %>
            <button><span>sign up</span></button>
          <% end %>
          <%= link_to new_user_session_path do %>
            <button><span>login</span></button>
          <% end %>
        <% end %>
      </nav>
      <% if user_signed_in? %>
        <nav class="menu">
          <ul>
            <%= content_tag 'li', link_to('Articles', articles_path), class: menu_class('articles', 'index') %>
            <%= content_tag 'li', link_to('Favorites', favorites_articles_path), class: menu_class('articles', 'favorites') %>
            <%= content_tag 'li', link_to('Following', following_user_path(current_user)), class: menu_class('users', 'following') %>
            <%= content_tag 'li', link_to('Followers', followers_user_path(current_user)), class: menu_class('users', 'followers') %>
          </ul>
        </nav>
      <% end %>
    </header>
    <div class="content" id="<%= controller.controller_name + '_' +  controller.action_name %>">
      <% unless notice.nil? %>
        <p class="message notice"><%= notice %></p>
      <% end %>
      <% unless alert.nil? %>
        <p class="message alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
